#slider-wrapper {}
#frame-slide { left:0;}
#back-slide { left:0;}
#back-pattern { left:0;}
.iefix_advert {}
.footer-register {}
#frame-slide-two { left:0;}
#tabnavi-back-two {}
#ps_slider {}
#portfolio-slide-back {}
.ps_slider a.next, .ps_slider a.prev {}
#social-back {}
.button-white-icon { display:none;}